body {
    font-family: 'Do Hyeon', sans-serif;
}

.menubar {
  background-color: #a21127;
  font-size: 20px;
}

.menubar ul {
  margin : 0;
  padding : 0;
  width: 567px;
}

.menubar ul li {
  display : inline-block;
  list-style-type: none;
  padding : 0px 15px;
}

.menubar ul li a {
  color : white;
  text-decoration: none;
}

.menubar ul li a:hover {
  color : violet;
}

.submenu {
  float: left;
  margin-top: 30px;
  background-color: #a21127;
  font-size: 17px;
  border: 1px solid;
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.submenu ul {
  margin : 0;
  padding : 0;
}

.submenu ul li {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  margin: 10px;
}

.submenu ul li a {
  color: white;
  text-decoration: none;
}

.submenu ul li a:hover {
  color: violet;
}

#recommend_head {
  text-align: center;
  color: white;
  font-size: 1.1em;
}

div input[type=button] {
    color: black;
    font-family: 'Do Hyeon', sans-serif;
    border: 1px solid black;
    padding: 3px;
    background-color: white;
    border-radius: 5px;
}

div input[type=button]:hover {
    color: white;
    background-color: #a21127;
}

#content_season {
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 10px;
  width: 700px;
  height: 150px;
  padding-left: 15px;
}

#content_price {
  display: none;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 10px;
  width: 700px;
  height: 150px;
  padding-left: 15px;
}

#content_food {
  display: none;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 10px;
  width: 700px;
  height: 150px;
  padding-left: 15px;
}
